@tailwind base;
@tailwind components;
@tailwind utilities;

* + body {
  background-color: grey
}

.login-div{
  margin: 0;
  padding: 0;
  background-color: grey
}
/* form {
  border: 3px solid #f1f1f1;
} */

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
/* button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
} */

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}


thead,
tbody,
tr {
  display: contents;
}

.table {
  font-size: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr ;
  color: var(--TABLE-COLOR);
  gap: 0.1em;
  
}

.table__button {
  padding: 0.25em;
  font-size: 1.5rem;
  color: var(--TABLE-COLOR);
}

.table__thead {
  position: sticky;
  top: 0;
  z-index: 1;
}

.table__th,
.table__cell {
  background-color: var(--TABLE-BGCOLOR);
  text-align: left;
  border: 1px solid var(--TABLE-COLOR);
  padding: 0.5em;
}

.table__cell:last-child {
  display: grid;
  place-content: center;
}

.table__cell--inactive {
  background-color: var(--INACTIVE);
}

.card {
  border-style: solid;
  border-width: 5px;
  margin-bottom: 10px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.btn {
  width : 120px
}

body {
  font-family: Arial, sans-serif;
  background-color: #ede4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.contest-calendar {
  color: whitesmoke !important;
  width: 80%;
  max-width: 1000px; /* Increase max-width for larger screens */
  background-color: #1f2024;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calendar-container {
  display: flex;
  justify-content: space-between;
}

.calendar-wrapper {
  width: 80%; /* Adjust width here as per your preference */
  background-color:280c3b;
}

.contest-list {
  width: 50%; /* Adjust width here as per your preference */
  background-color: #312424;
  padding: 10px;
  border-radius: 8px;
  overflow-y: auto;
  max-height: 400px;
  padding: 20px;
}
.hero-image img {
  width: 90%;
  height: min-content;
  border-radius: 10px;
  height: 400px;
}

.calendar .react-calendar {
  width: 100%; /* Ensure calendar takes full width of its container */
  max-width: 100%; /* Adjust as necessary */
  border: none;
 background-color: #94a9b7;
  box-shadow: none;
  border-radius: 8px;
}

.calendar .react-calendar .react-calendar__tile--active {
  background-color: #1f2427 ;
  color: #280c3b;
}

.contest {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #cf6b6b;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.contest:hover {
  background-color: #2f2323;
}

.contest.selected {
  background-color: #fcfcfc;
  color: #070606;
}

.contest-info {
  text-align: center;
}

.contest-name {
  font-size: 16px;
  font-weight: bold;
}

.contest-time {
  font-size: 14px;
}

.selected-contest {
  margin-top: 20px;
  padding: 10px;
  background-color: #363f45;
  color: #ffffff;
  border-radius: 8px;
}

.selected-contest h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
}

.selected-contest p {
  font-size: 16px;
}

.react-calendar {
  color: whitesmoke;
  width: 350px;
  max-width: 100%;
  padding: 10px;
  background: #4a4542 !important;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

body{
  padding: 0 ;
  margin: 0 ;
}

.dash-img{
  margin-right: 10px;
  height: px;
}
.bg-dark {
  width: 100vw;}

  table, th, td {
    border: 1px solid black !important;
}